# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ACER\Desktop\Other\semester 4\inf\kfu-programming-java4-master\Spring-Second-oAuth-Example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
